<%= render 'pages/nav' %>

<h2> &nbsp; </h2>
<h2> Name: </h2>
<p class='Lead'> Jong Yun Lee </p>
<h2> Major: </h2>
<p class='Lead'> <%= @major %> </p>
<h2> Age: </h2>
<p class='Lead'> <%= @age + 7  %> </p>
<h2> Song: </h2>
<p class='Lead'> <%= @favorite_song  %> </p>
<img class='circular'></img>

