<div class="navbar-header">
         <button type="button" class="navbar-tog    gle" data-toggle="collapse" data-target="#bs-    example-navbar-collapse-1">
           <span class="sr-only">Toggle navigati    on</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Start     Bootstrap</a>
      </div>
      <!-- Collect the nav links, forms, and ot    her content for toggling -->
      <div class="collapse navbar-collapse" id=    "bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right"    >
          <li>
            <%= link_to 'Home', root_path %>
          </li>
         <li>
            <a href="/about">About</a>
          </li>
        </ul>
     </div>
